<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}

    {{!-- hero section start --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>WE WILL HELP YOU TO</h1>
                        <h1>GROW YOUR BUSINESS</h1>
                        <p>We Are The Team Of <span class="bold-style"> Professional Developer🤘 </span></p>
                        <button class="btn-style btn-primary">Read more</button>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-0 order-0">
                        <figure>
                            <img src="images/growth.svg" alt="herosection_image" >
                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{!-- hero section ends --}}


    {{!-- about us start --}}
    {{>about}}
    {{!-- about us end --}}


    {{!-- start services --}}
    {{>service}}
    {{!-- end services --}}



    {{!--start maps --}}
    {{>map}}
    {{!-- end maps --}}


    {{!--start contact --}}
    {{>contact}}
    {{!-- end contact --}}



    {{>footer}}
</body>
</html>