<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112216.14618579514!2d77.1116680425418!3d28.486937103792883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd3e2b45290b%3A0x8d0dbdf93dae701a!2sPink%20Line!5e0!3m2!1sen!2sin!4v1673861683425!5m2!1sen!2sin" 
    width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>